

.boton-principal{
    background-color: #ffffff;
    color:#050292;
    padding:10px;
    text-decoration: none;
    font-family:sans-serif;
    box-shadow: 10px 5px 5px black; 
    
}

.boton-secundario{
    background-color: #ffffff;
    color:#050292;
    padding:10px;
    text-decoration: none;
    font-family:sans-serif;
    box-shadow: 10px 5px 5px black; 
    margin-left:10px;
}

.boton{
    
    background-color: #ffffff;
    color:#050292;
    padding:10px;
    text-decoration: none;
    font-family:sans-serif;
    box-shadow: 10px 5px 5px black; 
    margin-left:100px;
    
   
}



.boton:hover{
    
    background-color: #d2d2d2;
 
 }


#crearnuevosocioyempleado{
    
    width: 100%;
    height: 70px;
    background-color:#0c406f;
    text-align: center;
    color:#ffffff;
    padding-top:10px ;
    font-size: 30px;
    background-image: url("https://i.ibb.co/bJ3GZZZ/Pngtree-sky-blue-mystery-smoke-wallpaper-1359210.jpg");
    box-shadow: 10px 5px 5px black; 
}



#busquedasociosyempleados{
    width: 100%;
    height: 70px;
    background-color: #0c406f;
    text-align: center;
    color:#ffffff;
    padding-top:10px ;
    font-size: 30px;
    background-image: url("https://i.ibb.co/bJ3GZZZ/Pngtree-sky-blue-mystery-smoke-wallpaper-1359210.jpg");
    box-shadow: 10px 5px 5px black; 
    
 }


 #botones-crear{
    text-align: center;
     
 }

#botones-buscar{
    text-align: center;
 }


#titulo_empleado{
    color:#ffffff;
    font-size: 55px;

}

#titulo-semiplenos{
    color:#ffffff;
    font-size: 55px;
}

#titulo-plenos{
    color:#ffffff;
    font-size: 55px;
}

h2, h3, h4, h5 {
    color:#ffffff;
    text-align: center;
}


#saludo-logueo{
    color:#ffffff;
    margin:8px
    
}


#saludo-logueo:hover{
    color:#d2d2d2;
    margin:8px
  
}

#avatar-img{
    margin-left:25px;
}

#guardar-cambios{
    color:#ffffff;
}


.boton-agregar-avatar{
    background-color: #ffffff;
    color:#050292;
    padding:10px;
    text-decoration: none;
    font-family:sans-serif;
    box-shadow: 10px 5px 5px black; 
    margin-left: 35%;
}

#boton-guardar-cambios{
    background-color: #0804b9;
    color:#ffffff;
    margin-left: 33%;
}

#boton-guardar-cambios:hover{
    background-color: #040178;
    color:#d2d2d2;
}

#boton-avatar{
    background-color: #0804b9;
    color:#ffffff;
    padding:10px;
    text-decoration: none;
    font-family:sans-serif;
    box-shadow: 10px 5px 5px black; 
    margin-left:230px;
    
}