
.boton{
  
    background-color: #ffffff;
    color:#050292;
    padding:10px;
    text-decoration: none;
    font-family:sans-serif;
    box-shadow: 10px 5px 5px black; 
   
}



.boton:hover{
    
    background-color: #d2d2d2;
 
 }


#crearnuevosocioyempleado{
    
    width: 100%;
    height: 70px;
    background-color:#0c406f;
    text-align: center;
    color:#ffffff;
    padding-top:10px ;
    font-size: 30px;
    background-image: url("https://i.ibb.co/bJ3GZZZ/Pngtree-sky-blue-mystery-smoke-wallpaper-1359210.jpg");
    box-shadow: 10px 5px 5px black; 
}



#busquedasociosyempleados{
    width: 100%;
    height: 70px;
    background-color: #0c406f;
    text-align: center;
    color:#ffffff;
    padding-top:10px ;
    font-size: 30px;
    background-image: url("https://i.ibb.co/bJ3GZZZ/Pngtree-sky-blue-mystery-smoke-wallpaper-1359210.jpg");
    box-shadow: 10px 5px 5px black; 
    
 }


 #botones-crear{
    text-align: center;
     
 }

#botones-buscar{
    text-align: center;
 }


#titulo_empleado{
    color:#ffffff;
    font-size: 55px;

}

#titulo-semiplenos{
    color:#ffffff;
    font-size: 55px;
}

#titulo-plenos{
    color:#ffffff;
    font-size: 55px;
}

h2, h3, h4, h5 {
    color:#ffffff;
}

