{% extends "AppVelez/padre.html" %}

{% load static %}



{% block titulo %} 
EDITAR SOCIO PLENO - VELEZ SARSFIELD
{% endblock %}



{% block titulo_pagina %}
<p class="text-white-50 mb-0">Edicion del socio pleno {{ nombre_sociopleno }}</p>
{% endblock %}



{% block subtitulo_uno_pagina %}
<h2>Editar socio pleno</h2>

<form action="{% url 'editarSociosPlenos' id %}" method="POST">{% csrf_token %}
    <table>
        {{ formulario_pleno.as_table }}
    </table>

    <input type="submit" , value="GUARDAR">
</form>

{% endblock %}


