{% extends "AppVelez/padre.html" %}

{% load static %}



{% block titulo_pagina %}
<p class="text-white-50 mb-0">Empleados del Club Atletico Velez Sarsfield</p>
{% endblock %}



{% block subtitulo_uno_pagina %}
<h2>Empleados de calidad</h2>
{% endblock %}



{% block texto_del_subtitulo_uno %}
<p> Contamos con {{ cantidad_empleados }} empleados quienes ayudan enormemente a crecer a esta institucion, aportando sus conocimientos y pasion. Día a día enorgullecen, con su dedicación a cada socio de este gran club</p>

{% endblock %}