{% extends "AppVelez/padre.html" %}

{% load static %}



{% block titulo %} 
EMPLEADOS - VELEZ SARSFIELD
{% endblock %}



{% block titulo_pagina %}
<p class="text-white-50 mb-0">Empleados del Club Atletico Velez Sarsfield</p>
{% endblock %}



{% block subtitulo_uno_pagina %}
<img src="{{ imagen }}" alt="">


<h2>Crea un nuevo empleado</h2>

<form action="{% url 'empleadoform' %}" method="POST">{% csrf_token %}
    <table>
        {{ formularioemp.as_table }}
    </table>

   <input id="enviarform-empleado" type="submit" , value="ENVIAR">
</form>
{% endblock %}


