{% extends "AppVelez/padre.html" %}

{% load static %}



{% block titulo %} 
EMPLEADOS - VELEZ
{% endblock %}



{% block titulo_pagina %}
<p class="text-white-50 mb-0">Administración de empleados del Club Atletico Velez Sarsfield</p>
{% endblock %}



{% block subtitulo_uno_pagina %}
<p id="titulo_empleado">Administrar empleados</p>

{% endblock %}



{% block texto_del_subtitulo_uno %}


<a class="boton" href="{% url 'empleadoform' %}">Crear nuevo empleado</a>
<a class="boton" href="{% url 'busquedaempleado' %}">Buscar empleado</a>

{% endblock %}