{% extends "AppVelez/padre.html" %}

{% load static %}



{% block titulo %} 
INICIO - VELEZ
{% endblock %}



{% block titulo_pagina %}

<p class="text-white-50 mb-0">Club Atletico Velez Sarsfield</p>
{% endblock %}



{% block subtitulo_uno_pagina %}

<h3>{{  mensaje_login }}</h3>
<h3>{{ mensaje_register }}</h3>
 <div id="crearnuevosocioyempleado">
    <p>Administracion de nuevos socios y empleados</p>
</div>
<br>
<div id="botones-crear"><br>

    <a class="boton-principal" href="{% url 'semiplenoform' %}">Crear nuevo socio semipleno</a>
    <a class="boton-principal" href="{% url 'plenoform' %}">Crear nuevo socio pleno</a>
    <a class="boton-principal" href="{% url 'empleadoform' %}">Crear nuevo empleado</a>
    

</div>
<br><br>
     <div id="busquedasociosyempleados">
         <p id="busqueda-id">Busqueda de socios y empleados</h2>
    </div>
    <br><br>
<div id="botones-buscar">
<a class="boton-principal" href="{% url 'busquedasociosemipleno' %}">Buscar socio semipleno</a>
<a class="boton-principal" href="{% url 'busquedasociopleno' %}">Buscar socio pleno</a>
<a class="boton-principal" href="{% url 'busquedaempleado' %}">Buscar empleado</a>

</div>
<br><br>
<div id="crearnuevosocioyempleado">
    <p>Ver listas de socios y empleados</p>
</div>
<br>
<div id="botones-crear"><br>

    <a class="boton-principal" href="{% url 'leerSociosSemiPlenos' %}">Ver lista de socio semipleno</a>
    <a class="boton-principal" href="{% url 'leerSociosPlenos' %}">Ver lista de socio pleno</a>
    <a class="boton-principal" href="{% url 'leerEmpleados' %}">Ver lista de empleado</a>
    

</div>
<br><br>


{% endblock %}



{% block texto_del_subtitulo_uno %}

<h3>{{ mensaje_sociopleno }}</h3>
<h3>{{ mensaje_sociosemipleno }}</h3>
<h3>{{ mensaje_empleado }} </h3>

{% endblock %}



{% block busqueda_formulario %} 


{% endblock %}