{% extends "AppVelez/padre.html" %}

{% load static %}



{% block titulo %} 
Listado de empleados - VELEZ SARSFIELD
{% endblock %}



{% block titulo_pagina %}
<p class="text-white-50 mb-0">Listado de empleados</p>
{% endblock %}



{% block subtitulo_uno_pagina %}

{% if leerEmpleados %}
<h2>{{ leerEmpleados }}</h2>
{% else %}
<h2>Resultados de la busqueda:</h2>

{% for leerempleado in leerempleados %}

----------------------EMPLEADOS--------------------

<h4>Nombre: {{ leerempleado.nombre }} - Apellido: {{ leerempleado.apellido }} -  Legajo: {{ leerempleado.legajo }} </h4>
<br>
<button>
    <a href="{% url 'eliminarEmpleados' leerempleado.id %}"> Eliminar Empleado</a>
    <a href="{% url 'editarEmpleados' leerempleado.id %}"> Editar Empleado</a>
</button><br><br>

--------------------------------------------------------<br>

{% endfor %}
{% endif %}

<a class="boton" href="{% url 'empleadoform' %}">Agregar Empleado</a>
{% endblock %}


