{% extends "AppVelez/padre.html" %}

{% load static %}



{% block titulo %} 
Listado de socios Semi Plenos - VELEZ SARSFIELD
{% endblock %}



{% block titulo_pagina %}
<p class="text-white-50 mb-0">Listado de socios semi plenos</p>
{% endblock %}



{% block subtitulo_uno_pagina %}
<h2>{{ mensaje_eliminado_ssp }}</h2><br><br>
{% if leerSociosSemiPlenos %}
<h2>{{ leerSociosSemiPlenos }}</h2>
{% else %}
<h2 style="text-align: center;">Listado de socios semi plenos</h2>
---------------------------------------------------------------------------------------------------
{% for leersemipleno in leersemiplenos %}


<br>
<h4>Nombre: {{ leersemipleno.nombre }} - Apellido: {{ leersemipleno.apellido }} -  Socio: {{ leersemipleno.numero_socio }}</h4>
<div> <!--Cambie Button debido a que recibe alguna herencia de css y tomaba estilos que no pude modificar -->
    <br>
    <a class="boton" href="{% url 'eliminarSociosSemiPlenos' leersemipleno.id %}"> Eliminar Socio Semi Pleno</a>
    <a class="boton" href="{% url 'editarSociosSemiPlenos' leersemipleno.id %}" > Editar Socio Semi Pleno</a>
</div><br>

---------------------------------------------------------------------------------------------------<br>

{% endfor %}
{% endif %}
<br>
<h2>- - - Mas opciones - - -</h2>
<br>
<a class="boton" href="{% url 'semiplenoform' %}">Agregar socio semipleno</a>
<a class="boton" href="{% url 'busquedasociosemipleno' %}">Buscar socio semipleno</a>
{% endblock %}


