{% extends "AppVelez/padre.html" %}

{% load static %}



{% block titulo %} 
SOCIOS PLENOS - VELEZ SARSFIELD
{% endblock %}



{% block titulo_pagina %}
<p class="text-white-50 mb-0">Socios plenos del Club Atletico Velez Sarsfield</p>
{% endblock %}



{% block subtitulo_uno_pagina %}
<h2>Crea un nuevo socio pleno</h2>

<form action="{% url 'plenoform' %}" method="POST">{% csrf_token %}
    <table>
        {{ formulariopleno.as_table }}
    </table>

    <input type="submit" , value="ENVIAR">
</form>
{% endblock %}


