{% extends "AppVelez/padre.html" %}

{% load static %}



{% block titulo %} 
RESULTADO BUSQUEDA SOCIOS PLENOS- VELEZ SARSFIELD
{% endblock %}



{% block titulo_pagina %}
<p class="text-white-50 mb-0">Resultado busqueda de socios plenos en el sistema</p>
{% endblock %}



{% block subtitulo_uno_pagina %}

{% if mensaje_pleno_ %}
<h2>{{ mensaje_pleno_ }}</h2>
{% else %}


<h2>Resultados de la busqueda:</h2>

{% for pleno in busqueda_socio_pleno %}

----------------------Socio Pleno--------------------

<h4>-Nombre: {{ pleno.nombre }}</h4>
<h4>-Apellido: {{ pleno.apellido }}</h4>
<h4>-Numero de socio: {{ pleno.numero_socio }}</h4>

--------------------------------------------------------

{% endfor %}
{% endif %}
{% endblock %}


