{% extends "AppVelez/padre.html" %}

{% load static %}



{% block titulo_pagina %}
<p class="text-white-50 mb-0">Socios Plenos del Club Atletico Velez Sarsfield</p>
{% endblock %}



{% block subtitulo_uno_pagina %}
<h2>Nuestra masa societaria plena</h2>
{% endblock %}



{% block texto_del_subtitulo_uno %}
<p>Contamos con {{ cantidad_socios_plenos }} socios plenos. Quienes pertenecen a esta categoria, son los socios que disfrutan del interior del club día a día., obtienen enormes beneficios para el torneo de futbol local e internacional</p>
{% endblock %}