{% extends "AppVelez/padre.html" %}

{% load static %}



{% block titulo %} 
SOCIOS PLENOS - VELEZ SARSFIELD
{% endblock %}



{% block titulo_pagina %}
<p class="text-white-50 mb-0">Administracion de socios plenos del Club Atletico Velez Sarsfield</p>
{% endblock %}



{% block subtitulo_uno_pagina %}
<p id="titulo-plenos">Administrar socios plenos</p>
{% endblock %}



{% block texto_del_subtitulo_uno %}
   
<a class="boton" href="{% url 'plenoform' %}">Crear nuevo socio pleno</a>


<a class="boton" href="{% url 'busquedasociopleno' %}">Buscar socio pleno</a>

   

{% endblock %}