{% extends "AppVelez/padre.html" %}

{% load static %}



{% block titulo %} 
SOCIOS PLENOS - VELEZ
{% endblock %}



{% block titulo_pagina %}
<p class="text-white-50 mb-0">Socios Plenos del Club Atletico Velez Sarsfield</p>
{% endblock %}



{% block subtitulo_uno_pagina %}
<h2>Nuestra masa societaria plena</h2>
{% endblock %}



{% block texto_del_subtitulo_uno %}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab facilis rem provident fugiat quam laboriosam, reiciendis iure sint, harum voluptate sed optio tenetur! Vero, eligendi laudantium optio iure amet saepe!
{% endblock %}